@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AvenirNext';
    src: url('/public/fonts/AvenirNextCyr-Regular.ttf');
}

@font-face {
    font-family: 'AvenirNextLight';
    src: url('/public/fonts/AvenirNextCyr-Light.ttf');
}

.a-tag::after {
    bottom: -20px;
  }