@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AvenirNext';
    src: url('/public/fonts/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.a-tag::after {
    bottom: -20px;
  }